<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">

                <form id="contactForm" method="POST" action="">

                    {{ form.hidden_tag() }}

                    <legend class="border-bottom mb-4">Изменение пароля</legend>

                    <div class="form-floating">
                        {{ form.password.label(class="form-control-label") }}
                        <br>
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}

                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="form-floating">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        <br>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}

                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <br />

                    <!-- Submit Button-->

                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>

                </form>

                </div>
            </div>
        </div>
    </div>
</main>
