<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/home">Мой сайт</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        {% if current_user.is_authenticated %}
            <h4 style="margin-top: 10px; color: antiquewhite;">
                Привет, {{ current_user.username }}!
            </h4>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">

                {% if current_user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{url_for('posts.allpost') }}"
                           style="font-size: 0.85rem;">
                            <i class="fa fa-th"></i>
                            Посты
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{url_for('posts.new_post') }}"
                           style="font-size: 0.85rem;">
                            <i class="fa fa-plus"></i>
                            Создать пост
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{url_for('users.account') }}"
                           style="font-size: 0.85rem;">
                            <i class="fa fa-user"></i>
                            Профиль
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{ url_for('users.logout') }}"
                           style="font-size: 0.85rem;">
                            <i class="fa fa-sign-out"></i>
                            Выйти
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{url_for('users.login') }}"
                           style="font-size: 0.85rem;">
                            <i class="fa fa-sign-in"></i>
                            Войти
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4"
                           href="{{url_for('users.register') }}"
                           style="font-size: 0.85rem;">
                            Зарегистрироваться
                        </a>
                    </li>

                {% endif %}

<!--                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>-->
<!--                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html">Sample Post</a></li>-->
<!--                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contact</a></li>-->
            </ul>
        </div>
    </div>
</nav>
